<?xml version="1.0" encoding="UTF-8"?>
<!--

      Copyright 2012 Callista Enterprise AB

      This file is part of Healthcare API Tutorial

      Healthcare API Tutorial is free software; you can redistribute it and/or modify
      it under the terms of version 2.1 of the GNU Lesser General Public
      License as published by the Free Software Foundation.

      Healthcare API Tutorial is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU Lesser General Public License for more details.

      You should have received a copy of the GNU Lesser General Public
      License along with Healthcare API Tutorial; if not, write to the
      Free Software Foundation, Inc., 59 Temple Place, Suite 330,
      Boston, MA 02111-1307  USA


-->
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">
                        
	<http security="none" pattern="/favicon.ico" />
	<http security="none" pattern="/login*" />
	<http security="none" pattern="/logout" />

	<http auto-config="true">
		<intercept-url pattern="/**" access="ROLE_USER" />
		<access-denied-handler error-page="/login"/>
		<form-login login-page="/login" 
				default-target-url="/" 
				authentication-failure-url="/loginfailed" />
		<logout logout-success-url="/logout" />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="static-user-service" />
	</authentication-manager>
	
	<user-service id="static-user-service">
		<user name="kallekula" password="secret" authorities="ROLE_USER"/>
	</user-service>
	
</beans:beans>
